body {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px !important;
    height: 100vh;
    padding: 35px;
}

.border-container {
    height: 100%;
    border: solid black;
    padding: 2%;
}

.title-container {
    text-align: center;
}

h2 {
    font-weight: bold !important;
}

.regist-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

.input-container {
    display: grid;
    width: 80%;
}

.inputBtn-container {
    width: 20%;
    text-align: center;
    padding-top: 110px;
}

#submitBtn {
    width: 80px;
    height: 100%;
}

.content-container {
    display: flex;
    flex-direction: row;
    height: 50%;
    padding: 2%;
}

.contentlist-container {
    width: 40%;
    background-color: aliceblue;
}

#memolist {
    overflow-y: scroll;
}

.recent-container {
    width: 60%;
    background-color: lightgoldenrodyellow;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

ul li {
    list-style: none;
}

button {
    background-color: lightcoral;
    border: none;
}

/* 모바일 뷰(Mobile) */
@media screen and (max-width: 767px) {
    * {
        width: 600px;
        height: 100%x;
    }
}