body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.layout-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 40px;
    justify-content: center;
}

.memo-container {
    width: 600px;
    border: solid black;
    background-color: ivory;
    padding: 10px;
}

.title-container {
    height: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.title-container p {
    font-family: comic sans ms
}

.reg-container {
    height: 20%;
    margin-left: 10px;
}

.content-container {
    height: 70%;
    padding: 10px;
}

.button-container {
    text-align: -webkit-center;
    margin-bottom: 0;
    margin-top: 60px;
}

.memolist-container {
    position: relative;
    width: 100%;
    border: solid lightgray;
    border-width: 1px;
    overflow-y: auto;
}

.memolist-container h1 {
    font-size: large;
    font-weight: bold;
}

ul {
    display: flex;
    align-items: center;
    line-height: 1.25;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem !important;
    padding-right: 0.25rem;
}

#memolist ul li {
    width: 100%;
    color: lightgray;
    font-size: 10px;
}

#regtitle {
    color: black;
    font-size: large;
}

.delBtn-container {
    display: flex;
    flex-direction: row-reverse;
}

.sel-container {
    margin-left: 10px;
    border: solid lightgray;
    border-width: 1px;
    padding: 10px;
}

#delBtn {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
}

#selregdate {
    text-align: end;
}

#seltitle {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}